body {
  background-color: rgb(10, 10, 10);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: "VT323", monospace;
  font-size: 20px;
  color: #eaeaea;
  padding: 5vh 10vw;
}

.nyx {
  flex: 1;
  margin-left: 5vw;
  max-height: 40vh;
  padding: 0;
}

.nyxSpeak {
  display: block;
  text-align: left;
  height: 20vh;
}

.container textarea {
  background-color: #222222;
  color: #eaeaea;
  font-family: "VT323", monospace;
  font-size: 20px;
  border: #eaeaea 2px solid;
  resize: none;
  opacity: 0.5;
  transition: 0.3s;
}

.container textarea:hover,
.send:hover,
.listen:hover {
  opacity: 1;
}

.container textarea:focus,
.send:focus,
.listen:focus {
  opacity: 1;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.send,
.listen {
  flex: 1 1 auto;
  background-color: #eaeaea;
  color: #222222;
  font-size: 20px;
  opacity: 0.5;
  transition: 0.3s;
  min-width: 50px;
  border: none;
  font-family: VT323, monospace;
  padding-top: 5px;
  padding-bottom: 5px;
}

* {
  border: 1px solid red;
}
